.popup{
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background:rgb(0, 0, 0, .5);
  display:flex;
  
align-items:center;
justify-content:center;
visibility: visible;
  opacity: 1;
  transition: visibility 0s, opacity 0.3s linear;

/* display: none; */
z-index: 10;
}

@media screen and (max-width: 468px) {
  .popup {
    padding: 0 19px 0 19px;
  }
}  