.page {
  margin: auto;
  max-width: 882px;

  padding-top: 45px;
  padding-bottom: 60px;
  
  box-sizing: border-box;
  font-family: 'Inter', ‘Arial’, sans-serif;
  
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
-ms-text-size-adjust: 100%;
-moz-text-size-adjust: 100%;
  text-rendering:optimizeLegibility;

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  
  }

  @media screen and (max-width: 920px) {
    .page {
      padding: 28px 19px 36px 19px;
    }
  }  

  /* div, section, article, h1, p {
    border: 1px solid red;
  } */