.element__delete{
  box-sizing: border-box;
  padding: 0;
  width: 18px;
  height: 19.3px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: none; 
  outline: none;
  background-color: transparent;
  transition: opacity 0.2s linear;
  background-image: url(../../../images/Trash.svg);
  z-index: 2;
  position: absolute;
  top: 18px;
  right: 15px;
}

.element__delete:hover{
  opacity: 0.6;
 
  cursor: pointer;


}