.lead__info{
  display: flex;
  flex-direction: row;
  margin: 0;
  align-items: baseline;
  justify-content: flex-start;
  
}

@media screen and (max-width: 530px) {
  .lead__info {
    margin-top: 10.5px;
    margin-bottom: 14px;
    align-items: center;
    
  }
}  