.element__heart{
  width: 20px;
  height: 18px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: none; 
  outline: none;
  background-color: transparent;
  transition: opacity 0.2s linear;
  background-image: url(../../../images/heart.svg);
  
  
}

.element__heart:hover{
  opacity: 0.6;
 
  cursor: pointer;


}

.element__heart_active{
  background-image: url(../../../images/heartBlack.svg);
}