.footer__copyright{
  font-weight: normal;
font-size: 18px;
line-height: 1.22px;

color: #545454;
}

@media screen and (max-width: 530px) {
  .footer__copyright {
    font-size: 14px;
    line-height: 17px;
  }
}  

