.element__photo{
  width: 100%;
  display: block;
  height: 282px;
  transition: opacity 0.2s linear;
  
  
  object-fit: cover;
  background-clip: border-box;
  
}

.element__photo:hover{
  opacity: 0.6;
 
  cursor: pointer;


}