.popup__close-bottom{
  height: 57.56px;
  width: 57.56px;
  background-image: url(../../../images/close.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  top: -40.7px;
  right: -40.7px;
}

.popup__close-bottom:hover{
  opacity: 0.6;
  transition: opacity 0.2s linear;
  cursor: pointer;

}

@media screen and (max-width: 468px) {
  .popup__close-bottom {
    height: 36.76px;
    width: 36.76px;
    top: -50.12px;
  right: 0;
  }
}  