.popup__container{
  position: fixed;
  
  width: 430px;
  

  border-radius: 10px;
  background-color: #FFFFFF;
  padding: 34px 36px 36.51px 36.51px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-self: center;
}

 @media screen and (max-width: 468px) {
  .popup__container{
    width: 282px;
    
    padding: 25px 22px 25px 22px;
  }
}   