.lead__avatar{
  border-radius: 100px;
  background-position: center;
  background-image: url(../../../images/avatar.png);
  background-size: contain;
  width: 120px;
  height: 120px;
  margin-right: 30px;
}